.vertical-center {
	min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 50hv; /* These two lines are counted as one :-)       */
	margin-top: 10%;
	text-align: center;
}

a i {
	color: #333;
}


.contactLinks {
	font-size: 32px;
}

.contactLinks a {
	margin: 50px;
}