.infoPanel {
	min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 50hv; /* These two lines are counted as one :-)       */
	margin-top: 10%;
	text-align: center;
	background-color: #10631B;
	color: #84C68C;
}

a i {
	color: #84C68C;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-transition: all 0.3s ease;
}


.contactLinks i {
	font-size: 32px;
	padding: 16px;
}

.contactLinks a {
	margin: 50px;
}

.contactLinks i:hover {
	font-size: 64px;
	padding: 0px;
}

body {
	background-color: #52A55D;
}